body{
	background-color: black;
	font-family: arial;
}

h4{
	margin: 0px;
	padding: 0px;
	margin-top: 10px;
}

h5{
	margin: 0px;
	padding: 0px;
}

table{

	background-color: skyblue;
	border-radius: 20px;
}

ul{
	font-size: 10pt;
}

#pagina{
	box-shadow: 0px 4px 15px white;
}

#foto{
	width: 200px;
	border-radius: 50%;
	box-shadow: 10px 5px 5px black;
	border: solid 1px skyblue;
}

.titulo1{
	color: blue;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}

.titulo2{
	color: blue;
	text-align: center;
}

.linea{
	border-bottom: solid 2px black;
}

#descripcion{
	color: white;
	width: 250px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}

.arriba{
	color: blue;
	vertical-align: top;
}
#fecha{
	margin-top: 10px;
	font-family: verdana;
	font-size: 10pt;
}
#imagencorreo{
	width: 20px;
}
#imagentel{
	width: 20px;
}
#imagenpais{
	width: 20px;
}
#imagenskype{
	width: 20px;
}
#imagenubicacion{
	width: 20px;
}
#imagentwitter{
	width: 20px;
}
#descripcion1{
	width: 250px;
	text-align: center;
}
#descripcion{
	color: white;
	width: 250px;
	text-align: center;
	text-shadow: 2px 2px 2px black;
}
